.navbar{
 display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;

}

content{
  /* margin: 10vh;
  padding:10vh; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {  
  /* margin-top:60vh; */

background-color: rgba(0, 0, 0, 0.5);  
font-size: 3.2em;
  color: white;
}
