.footer{
  padding-left: 15px;
  padding-right: 25px;
  padding-top:10vh;
  padding-bottom:10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  z-index:100;
  background-color: grey;
}

content{
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2 {  
font-size: 1.4em;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fnavItems{
  color:white;
  font-size: medium;
  list-style-type: none;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  display: flex;
  gap:1.4em;
  border:1px;
}

.item{
padding: 2px;
font-size:1.0em;
  /* border-style:solid; */

}